body {display: flex;
flex-flow: column nowrap;

box-sizing: border-box;
margin: 0px;

min-height: 100vh;

}

.header{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-around;
    align-items: stretch;
    background-image: linear-gradient(to bottom left, pink,lightblue);
}
.header-top{display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px ;
    flex: 0 0 content
}
.logo{height: 50px;
border-radius: 100%;
border-style: groove;
border-color: pink;
}

.links{display: flex;
margin: 0px;
padding: 0px;
gap: 16px;
list-style-type: none;
justify-content: space-between;
}
a{text-decoration: none;

}

.header-bottom{display: flex;
  
    align-self:center;
align-items: center;
flex: 1 1 auto;
justify-content: space-around;
padding: 8px 16px;
gap: 32px;
flex-wrap: wrap;
}
.header-text{display: flex;
    flex: 0 1 none;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
max-width: 400px;

}

.header-text button{align-self: flex-start;}
.main-text{font-size: 48px; font-weight: bolder;}


.header-image {flex:  0 1 none;
    max-width: 400px;
   width: 100%;
   margin: 16px;
   border-style: solid;
   border-radius: 10px;
   align-self: center;
   border-color: pink;
}
.information{display: flex;
flex-direction: column;
flex: 1;
background-image: linear-gradient(to bottom,lightblue, pink, lightblue);
}

.info-h{font-size: 36px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.information-cards{display: flex;
gap: 10px;
padding: 10px;
justify-content: center;
flex-wrap: wrap;
gap: 40px;

}
.card{ display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    text-align: center;
    gap: 8px;
    color:white;
   
}
.card img{flex:2 0 auto;
    border-radius: 30px;
    border-style: solid;
    max-width: 200px;
    border-color: lightpink;

}


.quote{display: flex;
    flex: 1;
    background-image: linear-gradient(to bottom, lightblue, pink);
    justify-content: center;
align-items: center;
flex-direction: column;

}
.quote-content{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px;
flex: 1;
max-width: 800px;
color: white;
gap: 16px;}

.quote-text{font-size: 36px;
    flex:0 1 50%;
    font-style: italic;
    color: white;
    

    
}
.author{align-self: flex-end;
    margin-bottom: auto;
}


.call-to-action{display: flex;
    min-height: 300px;
    flex: 1;
align-items: center;
justify-content: center;
background-image: linear-gradient(to bottom,pink, lightblue, pink);

}


.footer{display: flex;
align-items: center;
justify-content: center;
flex: 0 0 none;

}
button{background-color: lightblue;
    border-radius: 5px;
    border-style:solid;
    padding: 4px 20px;
    color:white;
    border-color: white;
}
.action{display: flex;
    background-color: lightblue;
    border-style: groove;
    border-color: pink;
    color:white;
    padding: 32px 64px;
    border-radius: 10px;
    gap: 16px;
    align-items: center;
justify-content: center;
max-width: 830px;
}

.action-text{display: flex;
flex-direction: column;
flex:0 1 auto;
font-weight: bold;
gap: 8px;
align-items: flex-start;
justify-content: center;
padding: 16px;
}
.action-text .secondary-text{font-weight: normal;}

/* .action-button{border-style: solid;
    flex: 0 0 auto;
    border-color: white;
    padding: 2px 20px;
} */

 .footer{background-color: pink;
    color:rgb(126, 27, 219);}

    .header-text{color:white;
        font-size: 18px;
        font-weight: normal;

    }
    .footer{padding: 10px;}
    a{color: rgb(126, 27, 219);
        font-size: 18px;
        font-weight: normal;

    }